@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");
html,
body {
  height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #a5a5b1;
  display: grid;
  place-items: center;
  background-image: url(./images/Background2.jpg);
  background-size: contain;
}

.card {
  background-color: #e9e2e2f5;
  border-radius: 50px;
  color: #6f707d;
  font-family: "Poppins", sans-serif;
}

#temperature {
  font-size: 75px;
  color: #2b304d;
}

.temp {
  place-items: center;
}

.temp-details > p > span,
.grey {
  color: #1f2535;
  font-size: 15px;
}

.fa {
  color: #a5a5b1;
}

*:focus {
  outline: none;
}

/* Search */

body {
  background-color: #4e4a4a;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.height {
  height: 10vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(182, 180, 180, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #aa9696;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid rgb(23, 23, 203);
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: rgb(44, 44, 227);
}
